/* 
	based on: pixeldesu.de REDESIGN v4
	PLEASE CREDIT, IF YOU REUSE THIS CSS
*/
html {
	-webkit-font-smoothing:antialiased;
	display: block;
	position: relative;
	height: 100%;
	overflow: visible;
}

b, strong {
	font-weight: bold;
}

.header-background {
	background-image: url("../img/header-bg.jpg");
	background-size: cover; 
	background-repeat: repeat repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}

.header-content {
	-webkit-font-smoothing:antialiased;
	font-family: Verdana;
	font-size: 34px;
	color: #ffffff;
	padding-top: 45vh;
	text-shadow: 0px 1px 8px #000, 0px 0px 1px #000;
	position: relative;
	z-index: 2;
	text-align: center;
}

.header-content h1 {
	font-size: 72px;
}

.header-content h6 {
	font-size: 24px;
}

.footer-content {
	-webkit-font-smoothing:antialiased;
	font-family: Verdana;
	padding-top: 34px;
	font-size: 34px;
	color: #ffffff;
	text-shadow: 0px 1px 8px #000, 0px 0px 1px #000;
	position: relative;
	z-index: 2;
	text-align: center;
}

.footer-content h1 {
	font-size: 40px;
}

.footer-content h6 {
	font-size: 24px;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.wrap {
	font-family: Verdana;
	font-size: 12px;
	color: #eee;
	margin-top: 87vh;
	background-color: #212887;
	width: 100%;
	height: 75vh;
	z-index: 9999;
	display: inline-block;
	box-shadow: 0px -1px 5px rgba(0,0,0,0.43), 0px 1px 5px rgba(0,0,0,0.43);
	position: relative;
}

.wrap-content {
	padding-top: 20px;
	opacity: .99;
	z-index: 9999;
	background-color: #212887;
	width: 90vw;
	margin: 0 auto;
	min-height: 75px;
	position: relative;
	padding-bottom: 20px;
}

@media (max-width: 720px) {
	.wrap-content {
		width: 390px;

	}
}

.heading {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

.link-list {
	text-align: center;
}

.link-list li {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 24px;
	display: inline;
	list-style-type: none;
}

.link-list a {
	color: #d6d6d6;
	text-decoration: none;
}

.link-list a:visited {
	color: #d6d6d6;
	text-decoration: none;
}

.link-list a:hover {
	color: #959595;
	text-decoration: none;
}

.section-heading {
	padding-top: 30px;
	padding-bottom: -8px;
	margin-bottom: 10px;
	font-size: 36px;
	border-bottom: #d6d6d6 1px solid;
}

.wrap a {
	color: #a7a7a7;
	text-decoration: none;
}

.wrap a:hover {
	color: #6d6d6d;
}

.wrap p {
	line-height: 1.2em;
}

footer {
	background-image: url("../img/footer-bg.png");
	height: 150px;
	display: block;
	position: relative;
	z-index: 9998;
	padding-top: 15px;
}

.footer-copyright-image {
	margin: 0px auto;
	display: block;
}