	<div class="wrap-content">
		<div class="heading">
		Welcome to my site! Check out the following links or scroll down to read about me!
		</div>
		<ul class="link-list">
			<li><a href="//customs.availu.se">Blog</a></li>
			<li><a href="//twitter.com/4vailable">Twitter</a></li>
			<li><a href="//anilist.co/user/4683">AniList</a></li>
			<li><a href="//github.com/availu">GitHub</a></li>
			<li><a href="//gitlab.com/u/kanade7331">GitLab</a></li>
			<li><a href="//osu.ppy.sh/u/2279034">osu!</a></li>
		</ul>
		<div class="section-heading" id="about">About</div>
		<!-- How about some text? Use <p style="margin-bottom: 7px;"></p> -->
			<p style="margin-bottom: 7px;">
			Hi. I'm Avail, a 16 year old dude from Croatia. I like designing stuff and being a sysadmin (even though I am bad at the latter).<br />
			I'm currently running <a href="//getrektby.us">getrektby.us</a> with <a href="//facie.us">FaceHunter</a>.<br />
			I have my own <a href="//listen.rekt.in">radio station</a> which runs on icecast and liquidsoap.<br />
			I'm currently 'hired' as a web developer/coder over at <a href="//leafc.at">Leafcat Media</a>.<br />
			I like sitting on IRC a whole lot. You can find me in <a href=irc://irc.rizon.net:6667/Avail">#avail</a> or <a href=irc://irc.rizon.net:6667/getrekt">#getrekt</a> on Rizon.<br />
			I also make mods for GTA: San Andreas and GTA: IV, as you can see on my <a href="//customs.availu.se">blog</a>.<br />
			</p>
		<br />
		<div class="section-heading" id="blog">Latest blog posts</div>
			<p style="margin-bottom: 7px;">
			{loop="$entries"}
				<h2><a href="{$value.link}">{$value.title}</a> <small>on {$value.date}</small></h2>
			{/loop}
			</p>
		<br />
		<div class="section-heading" id="osu">Latest osu! events</div>
			<p style="margin-bottom: 20px;">
			{loop="$osuentries"}
				<h2>{$value.event}</h2>
			{/loop}
			</p>
	</div>
